html {
    max-width: 1593px;
    min-width: 300px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1 {
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


/*Работа со шрифтами:*/


.menu__link {
    color: #22262A;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.collusion__heading, .collusion__text, .recommendations__text  {
    color: #22262A;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.collusion__title, .recommendations__title {
    color: #22262A;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.button__text, .recommendations__button {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
}
.button__name {
    color: #22262A;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.womans-department__title, .mans-department__title, .collection__title, .photoalbum-style__title {
    color: #22262A;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.womans-department__text, .mans-department__text, .discounts__old-cost, .collection__text, 
.photoalbum-style__text, .images__text, .about-us__text, .about-us__location, .about-us__email, 
.about-us__index, .field__input, .list__item, .end__copyright {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.clothes__title {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}
.clothes__text, .field__button {
    color: #22262A;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.discounts__new-cost {
    color: #CF2929;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.about-us__name {
    color: #22262A;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.form__title {
    color: #22262A;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.images__text {
    text-decoration: underline;
}


/*Работа с фоном:*/


.header__wrapper {
    background-color: #FFFFFF;
    width: 1593px;
    height: 93px;
}
.promobanner {
    background-image: url('Используемые файлы/1_1.png');
    width: 1593px;
    height: 750.48px;
}
.photoalbum {
    background-color: #FFFFFF;
    width: 1593px;
    height: 700px;
}
.photoalbum__wrapper {
    width: 1133px;
    height: 579px;
    margin: 110px 200px 100px 230px;
}
.womans-department, .mans-department {
    background-color: #FFFFFF;
    width: 1593px;
    height: 750px;
}
.photoalbum-style {
    background-color: #FFFFFF;
    width: 1593px;
    height: 970px;
}
.collection {
    background-image: url('Используемые файлы/17 1.png');
    width: 1593px;
    height: 745px;
}
.footer__wrapper {
    background-color: #F2F8FC;
    width: 1593px;
    height: 607px;
}
.footer__end {
    height: 70px;
    background-color: #E7F5F8;
}


/*Работа с блоком Header:*/


.header__wrapper {
    display: flex;
    flex-flow: row wrap;
}
.header__logo {
    display: flex;
    align-items: center;
    margin: 35px 120px 40px 220px;
} 
.options__menu, .header__icons{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.options__menu {
    padding: 12px 14px;
}
.header__icons {
    display: flex;
    padding-right: 140px;
    padding-left: 60px;
}
.menu__item, .icons__link {
    margin: 25px 0px 25px 0px;
    padding: 0px 15px;
}
.icons__link {
    margin: 15px 0px 25px 0px;
    padding: 0px 10px;
}
.icons__link {
    margin: 30px 4px 25px 22px;
    width: inherit;
}


/* Работа с блоком Промобанер (COLLUSION) */


.promobanner__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 225px;
    padding-top: 420px;
}
.collusion__title {
    margin-top: 15px ;
}
.collusion__text {
    margin-top: 13px;
    margin-bottom: 30px ;
}
.button__text {
    background-color: #22262A;
    padding: 10px 30px;
}
.collusion__button {
    margin-top: 44px;
    margin-left: -13px;
}


/* Работа с блоком Фотоальбом: */


.button__name {
    background-color: #FFFFFF;
    padding: 10px 25px;
}
.photoalbum__wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    gap: 20px;
}
.photoalbum__photo1 {
    grid-area: 1 / 1 / 2 / 3;
}
.photoalbum__photo2 {
    grid-area: 2 / 1 / 3 / 2 ;
}
.photoalbum__photo3 {
    grid-area: 2 / 2 / 3 / 3;
}
.photoalbum__photo-transparency {
    grid-area: 1 / 3 / 3 / 5;
}


.photoalbum__photo-transparency {
    filter: brightness(0.5);
}


/* Работа с блоком WOMEN’S FASHION и MAN'S FASHION: */


.womans-department__pricelist , .mans-department__pricelist {
    display: flex;
    justify-content: center;
    margin: 70px 0px;
}
.mans-department__title, .womans-department__title {
    margin-bottom: 25px;
    margin-top: 30px;
}
.womans-department__title, .womans-department__text, .mans-department__title, .mans-department__text {
    display: flex;
    justify-content: center;
}
.pricelist__clothes {
    margin: 0px 10px;
}
.discounts__old-cost{
    display: inline-block;
    margin-right: 25px;
    margin-top: 12px;
}
.discounts__new-cost {
    display: inline-block;
}
.clothes__text {
    margin-top: 11px ;
}
.clothes__title {
    margin-top: 33px ;
}


/*Работа с блоком AVONE STYLE*/


/*  Работа с блоком TACHEN 19: */


.collection__recommendations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 435px;
    margin-left: 220px;
}
.recommendations__title {
    margin-top: 15px;
}
.recommendations__button {
    margin-top: 35px;
    margin-left: -13px;
}
.button__text {
    background-color: #22262A;
    padding: 10px 25px;
    margin: 0px 17px;
}


/* Работа с блоком Footer: */


.footer__wrapper {
    display: flex;
    flex-direction: row;
}
.block__link {
    display: flex;
    flex-direction: row;
}
.footer__about-us, .footer__block {
    margin-top: 120px;
}
.about-us__text {
    margin: 25px 0px 45px 0px;
}
.location__logo {
    margin-right: 25px;
}
.about-us__email {
    margin: 25px 0px -10px 0px;
}
.about-us__index {
    margin-bottom: 20px;
}
.footer__about-us {
    margin-left: 205px;
    margin-bottom: 200px;
}
.footer__block {
    margin-left: 200px;
}
.form__title {
    margin-bottom: 35px;
}
.form__field {
    margin-bottom: 65px;
}
.block__link {
    margin-left: -20px;
    margin-top: -50px;
}
.link__list {
    margin-right: 75px;
}
.link__list li {
    margin-top: 23px;   
}
.link__list::first-line {
    color: #22262A;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.end__copyright {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.photoalbum-style__title, .photoalbum-style__text {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.field__input {
    width: 450px;
    height: 50px;
    background: #ffffff;
    border: none;
    border-radius: 13px 0px 0px 13px;
    padding-left: 30px;
}
.field__button {
    position: relative;
    padding: 15px 30px;
    margin-left: -4px;
    background: #fffffF;
    border: none;
    border-radius: 0px 13px 13px 0px;
}
.button__clik {
    font-family: 'Poppins', sans-serif;
    color: #22262A;
    font-size: 15px;
}
input::placeholder {
    color: #000;
}
form {
    width: fit-content;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07);
}


/* Псевдоэлементы: */

.button__text:hover {
    background-color: #FFFFFF;
    color: #22262A;
}
.button__name:hover {
    background-color: #000000;
    color: #FFFFFF;
}
.button__text:active {
    background-color: #22262A;
    color: #FFFFFF;
}
.button__name:active {
    background-color: #FFFFFF;
    color: #22262A;
}